<h1>Add a new book</h1>

<form action="/book/add_new" method="post">
  <dl>
    <dt><label for="title">Title</label></dt>
    <dd><input id="title" type="text" name="title" value="<%= params[:title] %>"></dd>
    <dt><label for="authors">Author</label></dt>
    <dd><input id="authors" type="text" name="author" value="<%= params[:author] %>"></dd>
    
    <dt><label for="categories">Categories</label></dt>
    <dd>
      <% @categories_list.each do |category| %>
        <ul>
          <li>
            <label>
              <input 
                type="checkbox" 
                value="<%= category[:id] %>" 
                name="category_id_<%= category[:id] %>"
                <% if params.include?("category_id_#{category[:id]}") %>
                  checked
                <% end %>
              />
              <%= category[:name] %>
            </label>
          </li>
        </ul>
      <% end %>
    </dd> 
  </dl>
  <input type='hidden' name='filter_type' value='<%=@filter_type %>'/>
  <input type='hidden' name='offset' value='<%=@offset %>'/>
  <button type="submit">Add new book</button>
</form>