<p><a href="/books/available">List available books for you to borrow</a></p>
<p><a href="/users/book_list">List your books</a></p>
<p><a href="/books/filter">Search books</a></p>
<h1>All books</h1>
<table>
  <thead>
    <tr>
      <th scope = "col"> Title </th>
      <th scope = "col"> Author(s) </th>
      <th scope = "col"> Categories </th>
      <th scope = "col"> Availability </th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td> <a href="/book/<%= book[:id] %>"><%= book[:title] %></a></td>
        <td> <%= book[:author] %></td>
        <td> <%= book[:categories] %></td>
        <td> <%= book_availability(book) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
