<h2><%= @book[:title] %> by <%= @book[:author] %></h2>
<p>Belongs to the categories: <%= @book[:categories] %><p>
<p>Owned by: <%= @book[:owner_name] %></p>
<p>Availability: <%= book_availability(@book) %></p>

<% if @book[:owner_id] == session[:user_id] %>
  <% if @book[:requester_id] %>
    <form action="/book/<%= @book[:id] %>/loaned" method="post">
      <button>Loan book to <%= @book[:requester_name] %></button>
    </form>
    <form action="/book/<%= @book[:id] %>/rejected_request" method="post">
      <button>Reject request from <%= @book[:requester_name] %></button>
    </form>
  <% elsif @book[:borrower_id] %>
    <form action="/book/<%= @book[:id] %>/returned" method="post">
      <button>Book Returned</button>
    </form>
  <% end %>
<% end %>

<% if @book[:owner_id] != session[:user_id] %>
  <% if !@book[:requester_id] && !@book[:borrower_id] %>
    <form action="/book/<%= @book[:id] %>/requested" method="post">
      <button>Request book</button>
    </form>
  <% elsif @book[:requester_id] == session[:user_id] %>
    <form action="/book/<%= @book[:id] %>/cancelled_request" method="post">
      <button>Cancel request</button>
    </form>
  <% end %>
<% end %>
