<p><a href="/paginated_books_list/available_to_borrow/0">List available books for you to borrow</a></p>
<p><a href="/paginated_books_list/your_books/0">List your books</a></p>
<p><a href="/books/filter_form">Search books</a></p>
<p><a href="/paginated_books_list/all_books/0">Paginated books</a></p>
<h1><%= @heading %></h1>
<table>
  <thead>
    <tr>
      <th scope = "col"> Title </th>
      <th scope = "col"> Author(s) </th>
      <th scope = "col"> Categories </th>
      <th scope = "col"> Availability </th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td> <a href="/book/<%= book[:id] %>"><%= book[:title] %></a></td>
        <td> <%= book[:author] %></td>
        <td> <%= book[:categories] %></td>
        <td> <%= book_availability(book) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @number_of_pages > 1 %>
  <ul>
    <% 1.upto(@number_of_pages) do |page| %>
      <% page_offset = @limit * (page - 1) %>
      <% if page_offset == @offset %>
        Page <%= page %>
      <% else %>
        <a href="/books/filter_results/<%= @filter_type %>/<%= page_offset %>?
          title=<%= @title %>&
          author=<%= @author %>&
          categories=<%= @categories %>&
          availabilities=<%= @availabilities %>">
        Page <%= page %></a>
      <% end %>
    <% end %>
  </ul>
<% end %>
