<h1>Edit book details</h1>

<form action="/book/<%= @book[:id] %>/edit" method="post">
  <dl>
    <dt><label for="title">Title</label></dt>
    <dd><input id="title" type="text" name="title" value="<%= @book[:title] %>"></dd>
    <dt><label for="authors">Author</label></dt>
    <dd><input id="authors" type="text" name="author" value="<%= @book[:author] %>"></dd>
    
    <dt><label for="categories">Categories</label></dt>
    <dd>
      <% @categories_list.each do |category| %>
        <ul>
          <li>
            <label>
              <input 
                type="checkbox" 
                value="<%= category[:id] %>" 
                name="category_id_<%= category[:id] %>"
                <% if @book_category_ids.include?(category[:id]) %>
                  checked
                <% end %>
              />
              <%= category[:name] %>
            </label>
          </li>
        </ul>
      <% end %>
    </dd> 
  </dl>
  <input type='hidden' name='filter_type' value='<%=@filter_type %>'/>
  <input type='hidden' name='offset' value='<%=@offset %>'/>
  <button type="submit">Submit</button>
  <a href='/books/filter_results/<%=@filter_type %>/<%=@offset %>'>Cancel</a>
</form>