<form action="/book/<%= @book[:id] %>/edit" method="post">
  <dl>
    <dt><label for="title">Title</label></dt>
    <dd><input id="title" type="text" name="title" value="<%= @book[:title] %>"></dd>
    <dt><label for="authors">Author</label></dt>
    <dd><input id="authors" type="text" name="authors" value="<%= @book[:author] %>"></dd>
    
    <dt><label for="categories">Categories</label></dt>
    <dd>
      <% @categories.each do |category| %>
        <ul>
          <li>
            <label>
              <input 
                type="checkbox" 
                value="<%= category[:id] %>" 
                name="category_id_<%= category[:id] %>"
                <% if @book_category_ids.include?(category[:id]) %>
                  checked
                <% end %>
              />
              <%= category[:name] %>
            </label>
          </li>
        </ul>
      <% end %>
    </dd> 
        

  </dl>
  <button type="submit">Submit</button>
</form>