These are your books:

<table>
  <thead>
    <tr>
      <th scope = "col"> Title </th>
      <th scope = "col"> Author(s) </th>
      <th scope = "col"> Categories </th>
      <th scope = "col"> Availability </th>
    </tr>
  </thead>
  <tbody>
    <% @user_owned_books.each do |book| %>
      <tr>
        <td> <a href="/book/<%= book[:id] %>"><%= book[:title] %></a></td>
        <td> <%= book[:author] %></td>
        <td> <%= book[:categories] %></td>
        <td> <%= book_availability(book) %></td>
      </tr>
    <% end %>
  </tbody>
</table>